@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #12b9e7;
    --grey: #2e2e2e; 
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

button {
    all: unset;
    padding: 6px 16px;
    background: var(--blue);
    height: 25px;
    color: white;
    font-weight: 500;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    height: calc(90vh - 72px);

}

.hero-image {
    height: auto;
    width: auto;
    max-height: 850px;
    max-width: 850px;
    float: right;
    
    
}

.image {
    padding: 20px;
}

.hero h1 {
    font-weight: 100px;
    font-size: 108px;
    line-height: 102px;
}

.hero p {
    font-weight: 600;
    color: var(--grey);
}

.hero-btn {
    display: flex;
    gap: 40px;
}